.ticket-card {
  width: 100%;
  max-width: 700px;
  border-left: 5px solid #198754;
  border-radius: 15px;
}

.qr-code {
  width: 120px;
  height: 120px;
  border: 1px dashed #ccc;
  padding: 8px;
  border-radius: 10px;
}
